.red {
    display: flex;
    width: 225px;
    height: 225px;
    background-color: red;
    border-radius: 50%;
    z-index: 1;
}

.green {
    display: flex;
    margin: auto;
    width: 150px;
    height: 150px;
    background-color: green;
    border-radius: 50%;
    z-index: 2;
}

.blue {
    display: flex;
    margin: auto;
    width: 75px;
    height: 75px;
    background-color: blue;
    border-radius: 50%;
    z-index: 3;
}

